<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR2tolVswMYfAaNo2LibDGpMZYl6nk_rs</string>
	<key>GCM_SENDER_ID</key>
	<string>76945659166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.captainsaathi.farmerapp</string>
	<key>PROJECT_ID</key>
	<string>captain-sarthi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>captain-sarthi-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76945659166:ios:5c49aab9b6f312c34ca50f</string>
</dict>
</plist>